<ActionBar title="{N} Login Example"></ActionBar>
<GridLayout backgroundColor="#CCCCCC">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                <StackLayout class="input-field">
                    <Label text="Email" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.email"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Password" class="label font-weight-bold m-b-5"></Label>
                    <TextField secure="true" class="input" [(ngModel)]="input.password"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <Button class="-primary w-full" text="Login-Google" (tap)="onLoginTap()"></Button>
                <Button class="-primary w-full" text="Login-Local" (tap)="login()"></Button>
                <Label [nsRouterLink]="['/register']" text="Not a member? Register here." class="text-center footnote"></Label>

                <!--Page xmlns="http://schemas.nativescript.org/tns.xsd" navigatingTo="navigatingTo" class="page"-->

                <!--StackLayout-->

                <!--/StackLayout-->

                <!--/Page-->

            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>